# --constraint "/usr/local/airflow/dags/constraints-3.7-amazon-6.0.txt"

apache-airflow-providers-amazon==6.0.0
apache-airflow-providers-docker==2.3.0
airflow_multi_dagrun==2.2.0
apache-airflow-providers-docker
psycopg2-binary
Pillow
geojson
great_expectations
apache-airflow-providers-postgres
python-dotenv
lxml
pathlib2
ConfigArgParse==1.7
awswranglers